* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid table {
  margin: 0 auto;
  border: 1px solid #cccccc; }
  .grid table td {
    width: 20px;
    height: 20px; }

.halfnhalf {
  margin: 1em auto;
  text-align: center;
  zoom: 1;
  max-width: 401px; }
  .halfnhalf:before, .halfnhalf:after {
    content: "";
    display: table; }
  .halfnhalf:after {
    clear: both; }
  .halfnhalf p {
    margin: 0; }
  .halfnhalf div {
    width: 50%;
    float: left; }
  .halfnhalf label {
    margin-bottom: .5em;
    width: 50%;
    float: left; }
  .halfnhalf select {
    width: 50%;
    float: left; }

.snakeHead {
  background: black !important; }

.snakeBody {
  background: #545454; }

.treat {
  background: red; }

.specialTreat {
  background: blue;
  -webkit-animation: glow .5s infinite alternate linear;
  -moz-animation: glow .5s infinite alternate linear;
  animation: glow .5s infinite alternate linear; }

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 0 blue; }

  to {
    box-shadow: 0 0 15px blue; } }

@-moz-keyframes glow {
  from {
    box-shadow: 0 0 0 blue; }

  to {
    box-shadow: 0 0 15px blue; } }

@keyframes glow {
  from {
    box-shadow: 0 0 0 blue; }

  to {
    box-shadow: 0 0 15px blue; } }
