@import "lib/imports";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.points_container {
  text-align: center;
  margin: 1em 0;
}

.grid {
  table {
    margin: 0 auto;
    td {
      $size: 20px;
      width: $size;
      height: $size;
      border: 1px solid darken(white, 20%);
    }
  }
} // .grid

.stuff {
  width: 230px;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  label {
    margin-bottom: .5em;
    display: inline-block;
  }
  select {
    display: block;
    width: 100%;
  }
}

.snakeHead { background: black; }
.snakeBody { background: lighten(black, 33%); }
.treat { background: red; }
