@import "lib/imports";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.grid {
  table {
    margin: 0 auto;
    border: 1px solid darken(white, 20%);
    td {
      $size: 20px;
      width: $size;
      height: $size;
      // border: 1px solid darken(white, 20%);
    }
  }
} // .grid

.halfnhalf {
  margin: 1em auto;
  text-align: center;
  @include clearfix;
  max-width: 401px;
  p {
    margin: 0;
  }
  div {
    width: 50%;
    float: left;
  }
  label {
    margin-bottom: .5em;
    width: 50%;
    float: left;
  }
  select {
    width: 50%;
    float: left;
  }
}

.snakeHead { background: black !important; }
.snakeBody { background: lighten(black, 33%); }
.treat { background: red; }
.specialTreat {
  background: blue;
  -webkit-animation: glow .5s infinite alternate linear;
  -moz-animation: glow .5s infinite alternate linear;
  animation: glow .5s infinite alternate linear;
}

@-webkit-keyframes glow {
  from { box-shadow: 0 0 0 blue; }
  to { box-shadow: 0 0 15px blue; }
}
@-moz-keyframes glow {
  from { box-shadow: 0 0 0 blue; }
  to { box-shadow: 0 0 15px blue; }
}
@keyframes glow {
  from { box-shadow: 0 0 0 blue; }
  to { box-shadow: 0 0 15px blue; }
}
